@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,900;1,300;1,400;1,500&family=Roboto+Condensed:ital,wght@0,400;0,700;1,300;1,400;1,700&display=swap');
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Jost', sans-serif;
	font-weight: 500;
}
li{
	list-style: none;
}
/*HOME*/
/*banner*/
.bgImageFullScreen{
	height: 35vh;
	background-image: url('../assets/banner2.jpg');
	background-position: center;
	background-repeat: no-repeat;
}
/*nav*/
.navbar{
	background-color:#78a6d3 ;
}
#navbarNav .navbar-nav{
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: #6f7ccb;	
}
.nav-item{
	margin:  20px;
	font-size: 1.5rem;
}

/*Carousel*/
#carouselExampleControls {
	grid-area: carousel;
	height:auto;
}
#carouselExampleControls .carousel-item{
	margin-left: 25%;
}	
.small{
	margin-top: 80px;
}
.big{
	margin-top: 20px;
}

/*productos destacados*/
#tituloProductos{
	/*grid-area: titulo;*/
	margin: auto;
	text-align: center;
	font-family: 'Jost', sans-serif;
	font-weight: 500;
	font-size: 2rem;
	margin-top: 100px;	
}
.productosDestacados{
	display: flex;
	justify-content: center;
	height: 50vh;
}
.productosDestacados .box p{
	text-align: center;
	margin: 10px;
	font-weight: 500;
	font-size: 1rem;
}
.productosDestacados img{
	padding: 10px;
	margin: auto;
	align-items: center;
	justify-items: center;
	height: 100px;
	width: 150px;
}
.centrado{
	margin-left: auto;
    margin-right: auto;
    display: block;
}
.box{
	margin: 10px;
	padding: 20px;
	background-color: #E4E7FF;
	width: 23%;
	margin: 0 2%;
	border: #000000 1px dotted;
	border-radius: 10px;
	justify-content: center;
	box-sizing: content-box;
	margin-top: 30px;
	margin-bottom: 80px;
	transition: all 200ms ease-in-out;
}
.productosDestacados .box:hover{
	transform: scale(1.1);
}


/*Footer*/
.footer{
	grid-area: footer;
	max-width:auto;
	margin: auto;
	background-color: #f4f4f4;
	background-position: center;
	height: auto;
}
.boxFooter{
	width: 23%;
	margin: 0 2%;
	display: inline-grid;
	padding: 30px;
	box-sizing: content-box;
}
.boxFooter p{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	text-align: left;
	font-size: 0.9rem;
	text-decoration: underline;
}
.boxFooter ul li{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	font-size:0.8rem;
	list-style: square;	
}
.mail{
	color: #242424;
}
.mail :visited{
	color: 0c35fa;
}
iframe{
	border:  0;
	margin-top: 5px;
}
@media all and (max-width: 768px){
	/*HOME*/
	.bgImageFullScreen{
		background-image: url('../assets/logoChico4.jpg');
		background-size: center;		
	}
	/*header*/
	.nav-item{
		margin: 5px;
		font-size: 1rem;
	}
	/*carousel*/
	#carouselExampleControls {
	height: 15vh;
	}
	/*productos destacados*/

	#tituloProductos{
		display: flex;
		flex-direction: column;
		text-align: left;
		margin: 50px;
		font-weight: 500;
		font-size: 20px;
		margin-bottom: 5px;		
	}
	.productosDestacados{
		display: flex;
		flex-direction: column;
		text-align: left;
	}
	.productosDestacados .box p{
		font-size: 0.7rem;
	}
	.box{
		width:auto;
		margin: 20px;
	}
	.productosDestacados p{
		display: flex;
		flex-direction: column;
		text-align: left;
		font-weight: 500;
		font-size: 1.5rem;
		margin-bottom: 5px;		
	}
	.productosDestacados{
		grid-area: productos;
		display: flex;
		flex-direction: column;
		text-align: left;
		height: 100vh
	}
	.productosDestacados .box p{
		font-size: 0.8rem;
	}
	.box{
		width:auto;
		margin: 10px;
		height: 200vh;
	}
	/*footer*/
	.footer{
		display: flex;
		flex-direction: column;
		background-position: left;
		margin: 20px;
		height: auto;

	}
	.boxFooter p{
		font-size: 14px;
	}
	.boxFooter li{
		margin-top: 5px;
	}


/*INFORMACION*/
#contenedorInformacion{
	display: grid;
	grid-template-areas:
	"nav nav nav"
	"quienesSomos quienesSomos quienesSomos"
	"texto texto texto"
	"listaValores listaValores listaValores"
	"footer footer footer";
	grid-column-gap: 2fr;
	grid-row-gap: 100px;
	justify-items: start;
	align-items: center;
	margin: auto;
}
.quienesSomos{
	grid-area: quienesSomos;
	margin: 20px;
	padding-top: 5vh;	
}
.quienesSomos .titulo{
	font-family: 'Jost', sans-serif;
	font-weight: 500;
	font-size: 2rem;
	text-align: center;
	text-decoration: underline;
}
.quienesSomos img{
	height: 500px;
	width: 650px;
	margin-left: auto;
	margin-right: auto;
    display: block;	  
}
.texto{
	grid-area: texto;
	color: #5d5d5d;
	font-family: 'Jost', sans-serif;
	font-weight: 500;
	font-size: 1.3rem;
	padding-top: 1vh;
	text-align: center;
	max-width: 1140px;
	margin:30px;
}
.frase{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 900;
	font-style: italic;
	text-align: center;
	font-size: 1.4rem;
	color: #6f7ccb;
	height: 10vh;
}
.titulosSecundarios{
	grid-area: listaValores;
	margin: 10px;
	font-style: italic;
	font-weight: 700;
	font-size: 1.3rem;
	text-align: left;
	text-decoration: underline;
	padding-top: 1vh;
}
.listaValores li{
    list-style: square;
	margin: 30px;
	font-size: 1.2rem;
	color: #5d5d5d;	
}




	/*Quienes somos*/
	.quienesSomos{
		display: flex;
		flex-direction: column;
		justify-items: left;
		border: none;
	}
	.quienesSomos .titulo{
		font-size: 1.5rem;
		text-align: left;
	}
	.quienesSomos img{
		height:400px;
		width:400px;

	}
	.texto{
		font-size: 0.8rem;
		text-align:left;
		max-width:auto;
	}
	.frase{
		font-size: 0.9rem;
	}
	.titulosSecundarios{
		font-size:1rem;	
	}
	.listaValores li{
		font-size:0.8 rem;  
	}



}
	



